.link {
  border-radius: 0.75rem;
  color: inherit;
  display: inline-block;
}

.link:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.link-active {
  color: rgb(99, 191, 82);
}

.nav {
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(55, 65, 81, 0.5);
}

.nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 2rem 0 0;
}
.nav ul li:last-child {
  margin-right: 0;
}

.nav-separator {
  flex: 1 1 auto;
}
